@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  background: var(--backgroundColour);
  margin: 0;
  font-family: var(--mainFont);
}

:root {
  --primaryPink: #ED6B86;
  --backgroundColour: #463239;
  --lightBackground: #4F383F;
  --mainFont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --secondFont: 'Bebas Neue', cursive;
}

section {
  padding: 4em 2em 1em 2em;
}

ul {
  list-style: none;
  text-align: center;
}

/* START HERE*/
/* nav bar*/
nav.menu-btn {
  display: block;
}

nav {
  /* TEMPORARY DISABLE*/
  display: none;
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: var(--lightBackground);
  height: 100vh;
  padding: 1em;
}

nav ul {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

nav .mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

.navbar {
  background: var(--primaryPink);
  padding: 1em 1em 1em 1em;
  /* DAVID PARK text on navbar*/
  /* menu button on navbar*/
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .navbarName {
  text-decoration: none;
  font-weight: regular;
  color: white;
  font-size: 1.2em;
  padding: 0em 0em 0em 0.5em;
}

.navbar .mobile-menu {
  cursor: pointer;
}

.hero {
  text-align: center;
  /* PROGRAMMING WARLORD text*/
  /* buttons*/
  /* entire paragraph*/
}

.hero .avatar {
  border: 5px solid var(--primaryPink);
  display: block;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.hero #aboutMeName {
  padding: 0.25em 2em 0.15em 2em;
  margin: 0em 0em 0em 0em;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

.hero .temporaryDisable {
  display: none;
}

.hero #description {
  color: white;
  text-decoration: none;
  font-weight: none !important;
  font-size: 15px;
}

.hero .heroGithub {
  margin-right: 1em;
}

.hero .heroGithub, .hero .heroTwitter {
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  background: var(--primaryPink);
  font-size: 16px;
  font-weight: bold;
}

.hero .aboutMeDescription {
  color: white;
  text-decoration: none;
  font-weight: none;
  padding-top: 4.2em;
  padding-bottom: 4.5em;
}

.hero #aboutMeOne, .hero #aboutMeTwo, .hero #aboutMeThree {
  font-size: 17px;
}

.hero #aboutMeOne {
  color: var(--primaryPink);
  font-weight: bold;
}

.hero #aboutMeTwo {
  /* width: 740px; */
  margin: 0 auto 0 auto;
}

.hero #aboutMeThree #descriptionResume {
  color: var(--primaryPink);
  text-decoration: none;
}

.hero ul {
  text-align: center;
  padding-left: 0;
}

.hero ul li {
  background: none;
  text-align: center;
  padding: 2em 1em;
  width: 300px;
  margin: 0 auto 5em auto;
  border: 1px solid var(--primaryPink);
}

.hero ul li h5 {
  font-size: 20px;
  color: var(--primaryPink);
  font-weight: bold;
  margin-top: 0.3em;
}

.hero ul li p {
  color: white;
  font-size: 15px;
  padding-bottom: 1.2em;
}

.hero ul li a {
  color: white;
  text-decoration: none;
  background: var(--primaryPink);
  padding: 0.5em 3.7em;
}

.hero ul li img {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

.hero ul li h6 {
  color: white;
  text-decoration: none;
  font-weight: none !important;
  font-size: 15px;
  margin-bottom: 0.5em;
}

.graphics {
  text-align: center;
  background: var(--primaryPink);
  padding-bottom: 3.5em;
}

.graphics .graphicsTitle {
  font-family: var(--secondFont);
  color: white;
  font-size: 75px;
  margin: 0 auto 0em auto;
}

.graphics .graphicsTitle .fuck {
  color: var(--primaryPink);
  -webkit-text-stroke: 1px white;
}

.graphics .left-col {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 5em;
}

.graphics .left-col #strawberryMilkLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 350px;
  height: 350px;
}

.graphics .left-col #strawberryMilkTwitter {
  text-decoration: none;
  color: white;
  background: var(--primaryPink);
  border: white 1px solid;
  padding: 0.5em 4em;
}

.graphics .right-col {
  padding-bottom: 5em;
}

.graphics .right-col #graphicsDescriptionOne {
  font-size: 15px;
  color: white;
  font-weight: bold;
  padding-bottom: 2.5em;
}

.graphics .right-col #graphicsDescriptionTwo {
  font-size: 15px;
  color: white;
  font-weight: none;
}

.graphics ul {
  padding-left: 0;
  padding-bottom: 1.5em;
}

.graphics ul li {
  background: none;
  text-align: center;
  padding: 2em 1em;
  width: 300px;
  margin: 0 auto 5em auto;
  border: 1px solid white;
}

.graphics ul li img {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

.graphics ul li h5 {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-top: 0.3em;
}

.graphics ul li p {
  color: white;
  font-size: 17px;
  padding-bottom: 0em;
}

.graphics #manyMore {
  text-decoration: none;
  color: white;
  background: var(--primaryPink);
  border: white 1px solid;
  padding: 0.5em 4em;
}

.contactMe .contactMeLeft {
  color: white;
  text-align: center;
  padding-bottom: 2em;
}

.contactMe .contactMeLeft a {
  text-decoration: none;
  color: var(--primaryPink);
}

.contactMe .contactMeRight #message, .contactMe .contactMeRight #email {
  color: white;
}

.contactMe .contactMeRight label {
  color: white;
  display: block;
  font: 1.2em;
  margin-bottom: .5em;
}

.contactMe .contactMeRight input, .contactMe .contactMeRight textarea {
  background: var(--lightBackground);
  padding: .8em;
  width: 100%;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid var(--primaryPink);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
}

.contactMe .contactMeRight input[type="submit"] {
  background-color: var(--primaryPink);
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  margin-bottom: 5em;
  display: inline-block;
  padding: 0.5em 2em;
  width: unset;
  cursor: pointer;
}

.contactMe h5 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-bottom: 5em;
}

/* PC */
@media only screen and (min-width: 769px) {
  #mobile-cta, #mobile-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  .navbarName {
    margin: 0;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .navbar nav a {
    font-size: 1em;
    padding: .1em 1em;
  }
  /* projects (coding) set them horizontally*/
  .hero li {
    display: inline-block;
    margin: 1em 1em !important;
  }
  /*graphics button/description*/
  .graphics .graphicsTitle {
    font-family: var(--secondFont);
    color: white;
    font-size: 111px;
    margin: 0 auto 0em auto;
  }
  .graphics .graphicsTitle .fuck {
    color: var(--primaryPink);
    -webkit-text-stroke: 1px white;
  }
  .leftAndRight {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .leftAndRight .left-col {
    margin-right: 5em;
  }
  .leftAndRight .right-col {
    text-align: right;
    margin-top: 7em;
    width: 250px;
  }
  .graphics li {
    display: inline-block;
    margin: 1em 1em !important;
  }
  .contactForm {
    margin: auto;
  }
  .contactForm .contactMeLeft {
    width: 250px;
    text-align: left;
    margin-right: 5em;
    padding-top: 5em;
    margin-left: 4em;
  }
  .contactForm .contactMeRight {
    display: center;
    width: 500px;
    margin-right: 4em;
  }
  #email {
    color: white;
    font-family: var(--mainFont);
  }
  #message {
    color: white;
    font-family: var(--mainFont);
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}
/*# sourceMappingURL=main.css.map */